In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [256]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1690,tt0413267,160000000,798958165,Shrek the Third,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Chris Miller|Raman Hui,Who's ready for Thirds?,The King of Far Far Away has died and Shrek an...,93,Fantasy|Adventure|Animation|Comedy|Family,DreamWorks Animation,5/17/2007,5.8,2007
1761,tt0419843,10000000,17500000,In the Land of Women,Meg Ryan|Kristen Stewart|Adam Brody|JoBeth Wil...,Jon Kasdan,Get ready to fall,After a bad breakup with his girlfriend leaves...,97,Romance|Comedy|Drama,Castle Rock Entertainment|Land Films Inc.|Anon...,4/16/2007,6.0,2007
1127,tt0338094,90000000,182290266,The Haunted Mansion,Eddie Murphy|Terence Stamp|Nathaniel Parker|Ma...,Rob Minkoff,Check your pulse at the door... if you have one.,Workaholic Jim Evers and his wife/business par...,99,Thriller|Fantasy|Comedy|Family|Mystery,Walt Disney Pictures|Gunn Films|Doom Buggy Pro...,11/25/2003,5.1,2003
1805,tt0230030,48000000,90383208,Bedazzled,Elizabeth Hurley|Brendan Fraser|Frances O'Conn...,Harold Ramis,Meet the Devil. She's giving Elliott seven wis...,"Elliot Richardson, suicidal techno geek, is gi...",93,Fantasy|Comedy|Romance,Twentieth Century Fox Film Corporation|Regency...,10/19/2000,5.3,2000
350,tt1078588,30000000,95714875,My Sister's Keeper,Cameron Diaz|Alec Baldwin|Abigail Breslin|Joan...,Nick Cassavetes,Based on the Best Selling Novel,Sara and Brian live an idyllic life with their...,109,Drama,Mark Johnson Productions|Gran Via Productions|...,6/26/2009,7.0,2009

In [257]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [258]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [259]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [260]:
data.loc[data['budget']==data['budget'].max(),'original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [261]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [262]:
answers['2'] = 'Gods and Generals'
#"+"

In [263]:
data.loc[data.runtime==data.runtime.max(),'original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [264]:
answers['3'] = 'Winnie the Pooh'
#"+"

In [265]:
data.loc[data.runtime==data.runtime.min(),'original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [266]:
answers['4'] = '110'
#"+"

In [267]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [268]:
answers['5'] = '107'
#"+"

In [269]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [270]:
answers['6'] = 'Avatar'
#"+"

In [271]:
data['profit']=data['revenue']-data['budget']
data.loc[data.profit==data.profit.max(),'original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [272]:
answers['7'] = 'The Lone Ranger'
#"+"

In [273]:
data.loc[data.profit==data.profit.min(),'original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [274]:
answers['8'] = '1478'
#"+"

In [275]:
data.loc[data.profit>0].shape[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [276]:
answers['9'] = 'The Dark Knigh'
#"+"

In [277]:
data.loc[data.release_year==2008].sort_values(by='profit', ascending=False).head(1)['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [278]:
answers['10'] = 'The Avengers'
#"+"

In [279]:
data.loc[((data.release_year>=2012) & (data.release_year<=2014))].sort_values(by='profit', ascending=False).head(1)['original_title'].values[0]

'The Avengers'

# 11. Какого жанра фильмов больше всего?

In [280]:
answers['11'] = 'Drama'
#"+"

In [281]:
def counter (moovie_bd,x):
    data_all=moovie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_all.split('|'))
    sammary=dat.value_counts(ascending=False)
    return sammary
summa_gen=counter(data,'genres')
summa_gen

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [282]:
answers['12'] = 'Drama'
#"+"

In [283]:
summa_gen=counter(data[data.profit>0],'genres')
summa_gen

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [284]:
answers['13'] = 'Peter Jackson'
#"+"

In [285]:
summa_gen=counter(data,'director')
for gen in summa_gen.index:
    summa_gen[gen]=data['revenue'][data['director'].map(lambda x: True if gen in x else False)].sum()
summa_gen=pd.DataFrame(summa_gen).sort_values(0,ascending=False )
summa_gen[:10]

                            0
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
Gore Verbinski     3426362290
Steven Spielberg   3386700791
McG                3323121992
Ridley Scott       3264035909
Francis Lawrence   3179979588

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [286]:
answers['14'] = 'Robert Rodriguez'
#"+"

In [287]:
summa_gen=counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
summa_gen

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Ilya Naishuller       1
Rian Johnson          1
Robert Stromberg      1
Andrew Dominik        1
Hironobu Sakaguchi    1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [288]:
answers['15'] = 'Chris Hemsworth'
#"+"

In [289]:
summa_gen=counter(data,'cast')
for gen in summa_gen.index:
    summa_gen[gen]=data['revenue'][data['release_year']==2012][data['cast'].map(lambda x: True if gen in x else False)].sum()
summa_gen=pd.DataFrame(summa_gen).sort_values(0,ascending=False )
summa_gen[:10]

                             0
Chris Hemsworth     2027450773
Denis Leary         1629460639
Anne Hathaway       1522851057
Robert Downey Jr.   1519557910
Chris Evans         1519557910
Mark Ruffalo        1519557910
Scarlett Johansson  1519557910
Ralph Fiennes       1409561013
Sacha Baron Cohen   1368110577
Kristen Stewart     1234384318

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [290]:
answers['16'] = 'Matt Damon'
#"+"

In [291]:
data['budget'].mean()
summa_gen=counter(data[data['budget']>data['budget'].mean()],'cast')
summa_gen[:10]

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
Tom Cruise           15
Hugh Jackman         14
Mark Wahlberg        14
Ben Stiller          14
Jamie Foxx           14
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [292]:
answers['17'] = 'Action'
#"+"

In [293]:
summa_gen=counter(data[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)],'genres')
summa_gen

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [294]:
answers['18'] = 'K-19: The Widowmaker'
#"+"

In [295]:
data1=data[data['production_companies'].map(lambda x: True if 'Paramount Pictures' in x else False)]
print(data1.groupby('original_title')['profit'].min().sort_values(0,ascending=False )[-5:])

original_title
Twisted                -24805000
Alfie                  -46604061
Next                   -51788987
Timeline               -60519261
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [296]:
answers['19'] = '2014'
#"+"

In [297]:
print(data1.groupby('release_year')['revenue'].sum().sort_values(0,ascending=False )[:5])

release_year
2011    3313662363
2014    2040210190
2013    2027690258
2015    1918582400
2009    1873375674
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [298]:
answers['20'] = '2014'
#"+"

In [299]:
data1=data[data['production_companies'].map(lambda x: True if 'Warner Bros' in x else False)]
print(data1.groupby('release_year')['profit'].sum().sort_values(0,ascending=False )[:5])

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [300]:
answers['21'] = 'сентябрь'
#"+"

In [301]:
data['release_date']=pd.to_datetime(data['release_date'])
data.groupby(data['release_date'].dt.strftime('%B'))['imdb_id'].count().sort_values(0,ascending=False )

release_date
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [302]:
answers['22'] = '450'
#"+"

In [303]:
len(data[data.release_date.dt.month.isin([6,7,8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [304]:
answers['23'] = 'Peter Jackson'
#"+"

In [305]:
Sumgen=counter(data[data.release_date.dt.month.isin([1,2,12])], 'director')
print(Sumgen[:10])

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Shawn Levy           4
Nancy Meyers         4
Adam Shankman        4
Steven Spielberg     3
Steve Carr           3
Aaron Seltzer        3
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [306]:
answers['24'] = 'Four By Two Productions'
#"+"

In [307]:
data['word_lends']=data['original_title'].map(lambda x:len(x))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen]=data['word_lends'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen=pd.DataFrame(sum_gen).sort_values(0,ascending=False )
sum_gen[:10]

                                 0
Four By Two Productions         83
Jim Henson Company, The         59
Dos Corazones                   47
Polsky Films                    46
Museum Canada Productions       46
The Saul Zaentz Company         43
Zohar International             41
Harry Potter Publishing Rights  41
TSBD Canada Productions         41
Cool Music                      41

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [308]:
answers['25'] = 'Four By Two Productions'
#"+"

In [309]:
data['title_word_lends']=data.original_title.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen]=data['title_word_lends'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen=pd.DataFrame(sum_gen).sort_values(0,ascending=False )
sum_gen[:10]

                            0
Four By Two Productions    12
Jim Henson Company, The    10
The Saul Zaentz Company     9
Polsky Films                9
Dos Corazones               9
Zohar International         8
Cool Music                  8
3Foot7                      8
Total Entertainment         8
Museum Canada Productions   8

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [310]:
answers['26'] = 'Inside Out'
#"+"

In [311]:
data.quantile(0.99, numeric_only=True)['vote_average']
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [312]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
#"+"

In [313]:
from itertools import combinations
pairs=data.cast.apply(lambda x: list(tuple(sorted(comb)) for comb in combinations(x.split('|'),2))).tolist()
flattend=pd.DataFrame(pairs).stack()
flattend.value_counts().head(5)

(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
dtype: int64

ВАРИАНТ 2

# Submission

In [314]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knigh',
 '10': 'The Avengers',
 '11': 'Drama',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '20': '2014',
 '18': 'K-19: The Widowmaker',
 '19': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions',
 '26': 'Inside Out',
 '27': 'Daniel Radcliffe, Rupert Grint',
 '5': '107',
 '12': 'Drama',
 '14': 'Robert Rodriguez'}

In [315]:
# и убедиться что ни чего не пропустил)
len(answers)

27